#parent {
  height: 700px;
  display: flex;
  flex-direction: row; /* row-reverse, column, column-reverse */
  justify-content: flex-start; /* flex-end, center, space-between space-around */
  align-items: flex-start; /* flex-end, center, stretch */
  flex-wrap: nowrap; /* wrap, wrap-reverse */
}

.children {
  height: 200px;
  width: 150px;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}
